body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu {
    background-color: #888;
    padding: 10px;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .img {
    background-image: url('imagens/pizza.jpg');
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
   
  }
  
  .pizza-item {
    margin-bottom: 20px;
    margin-left: 3%;
  }
  
  .preco{
    background-color: #787878;
    padding: 2px 5px;
    display: inline-block;
    color: white
  }
  

  .atendimento{
    text-align: center;
    background-color:#979797;
    padding: 0.1%;
    margin-bottom: 1%;
  }

  #text-Img{
  font-size: 100px;
  color: white
}